@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");

/*---- LOGIN ----*/
#login_from{
  margin-top: 20vh;
  margin-bottom: 20vh;
}
#warning{
  margin-top: 1em;
}
#login_from h1{
  margin-bottom: 1em;
}

/*---- REGISTER ----*/
#register_form{
  margin-top: 15vh;
  margin-bottom: 15vh;
}
#register_form h1{
  margin-bottom: 1em;
}
.signin{
  margin-top: 1em;
  padding-left: 0;
}
#register_form a{
  color: rgb(255, 193, 7);
}

/*---- ADD JOB ----*/
#add_job_form{
  margin-top: 10vh;
  margin-bottom: 10vh;
}

/*---- VIEW JOB ----*/
.jobItem{
  margin-top: 1em;
}

/*---- PROFILE ----*/
#profile_form{
  margin-top: 20vh;
  margin-bottom: 2em;
}
#profile_delete{
  margin-bottom: 20vh;
}

/*---- Home Page ----*/
.section-bg {
  background-image: url("../assets/images/img-02.jpg");
  background-size: 1350px;
  width: 1270px;
  height: 500px;
}

.fa-container {
  text-align: center;
  color: #000;
  margin-bottom: 25px;
}
.section-container-spacer {
  margin-bottom: 30px;
}
h2:after {
  content: "";
  display: block;
  background-color: #66c0b3;
  height: 3px;
  margin: 20px 0;
  width: 70px;
}
h2.text-center:after {
  margin: 20px auto;
}
