@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

/*---- LOGIN ----*/

#login_from{
    margin-top: 20vh;
    margin-bottom: 20vh;
}
#warning{
    margin-top: 1em;
}
