@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");

/*---- LOGIN ----*/

#login_from {
  margin-top: 20vh;
  margin-bottom: 20vh;
}
#warning {
  margin-top: 1em;
}

/*---- Home Page ----*/
/*
.background-image-container {
  position: relative;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  padding: 12% 0;
}
.white-text-container .btn-primary {
  border-color: #fff;
  background-color: transparent;
  color: #fff;
}
.white-text-container .btn-primary:hover {
  background-color: #8acfc5;
  border-color: #8acfc5;
}
.section-container {
  padding: 80px 0;
}
.fa-container {
  text-align: center;
  color: #000;
}
.section-container-spacer {
  margin-bottom: 30px;
}
h2:after {
  content: "";
  display: block;
  background-color: #66c0b3;
  height: 3px;
  margin: 20px 0;
  width: 70px;
}
h2.text-center:after {
  margin: 20px auto;
}
.section-half-background-image-container {
  position: relative;
  background-color: #eee;
  padding: 80px 0 100px;
}
.section-half-background-image-container .image-column {
  display: none;
}
@media (min-width: 992px) {
  .section-half-background-image-container .image-column {
    position: absolute;
    display: block;
    top: 0;
    z-index: 0;
    bottom: 0;
    width: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
  }
}
.section-half-background-image-container .text-column {
  padding: 50px;
  position: relative;
  z-index: 3;
  right: -51%;
}
.section-label {
  display: none;
}
@media (min-width: 992px) {
  .section-label {
    display: flex;
    color: #fff;
    font-size: 7em;
    font-family: Abril Fatface, Times New Roman, Times, serif;
    position: absolute;
    left: 50%;
    z-index: 2;
    top: 0;
    height: 100%;
    text-transform: uppercase;
    align-items: center;
  }
  .section-label p {
    width: 260px;
    margin-left: -130px;
    word-break: break-all;
  }
}
.background-image-container {
  position: relative;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  padding: 12% 0;
}
.overlay {
  background-color: hsla(0, 0%, 100%, 0.2);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.section-container {
  padding: 80px 0;
}
.section-container-spacer {
  margin-bottom: 30px;
}
*/