/*---- Home Page ----*/
* {
  box-sizing: border-box;
}
.section-bg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../assets/images/img-02.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.fa-container {
  text-align: center;
  color: #000;
  margin-bottom: 25px;
}
.section-container-spacer {
  margin-bottom: 30px;
}
h2:after {
  content: "";
  display: block;
  background-color: #66c0b3;
  height: 3px;
  margin: 20px 0;
  width: 100px;
}
h2.text-center:after {
  margin: 20px auto;
}

/* mentor profile */
.profile-border {
  border: 4px solid #cddc39;
  padding: 2px;
  border-radius: 50%;
  border-top-color: #ff5722;
  border-left-color: #ff5722;
  width: 150px;
  height: 150px;
}
.card-text {
  font-size: large;
  font-weight: 500;
}
