{% if job.lgbt %}
            <a class="btn btn-primary badge rounded-pill" href="/badgeview/1" role="button">LGBTQIA+ Friendly</a>
            {% endif %}
  
            {% if job.genderbalance %}
            <a class="btn btn-secondary badge rounded-pill" href="/badgeview/2" role="button" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">Gender Balance</a>
            {% endif %}
  
            {% if job.insurance %}
            <a class="btn btn-success badge rounded-pill" href="/badgeview/3" role="button" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">Family Health Insurance</a>
            {% endif %}
  
            {% if job.mentoring %}
            <a class="btn btn-danger badge rounded-pill" href="/badgeview/4" role="button">Mentor Systen</a>
            {% endif %}
  
            {% if job.zero_harrassment %}
            <a class="btn btn-warning badge rounded-pill" href="/badgeview/5" role="button">Zero-Tolerance for Harrassment</a>
            {% endif %}
  
            {% if job.no_pay_gap %}
            <a class="btn btn-info badge rounded-pill" href="/badgeview/6" role="button">No Pay Gap</a>
            {% endif %}
  
            {% if job.diverse_interview %}
            <a class="btn btn-dark badge rounded-pill" href="/badgeview/7" role="button">Diverse Interview Panel</a>
            {% endif %}
  
            {% if job.open_to_bootcamp %}
            <a class="btn btn-primary badge rounded-pill" href="/badgeview/8" role="button">Open To Bootcamp Grads</a>
            {% endif %}
  
            {% if job.open_to_career_gap %}
            <a class="btn btn-success badge rounded-pill" href="/badgeview/9" role="button">Open to Career Gaps</a>
            {% endif %}
  
            {% if job.parttime %}
            <a class="btn btn-danger badge rounded-pill" href="/badgeview/10" role="button">Parttime</a>
            {% endif %}
  
            {% if job.fourday %}
            <a class="btn btn-warning badge rounded-pill" href="/badgeview/11" role="button">Four Day Week</a>
            {% endif %}
  
            {% if job.childcare %}
            <a class="btn btn-info badge rounded-pill" href="/badgeview/12" role="button">Childcare</a>
            {% endif %}
  
            {% if job.remote_work %}
            <a class="btn btn-dark badge rounded-pill" href="/badgeview/13" role="button">Remote Work</a>
            {% endif %}
  
            {% if job.experience_requirements %}
            <a class="btn btn-primary badge rounded-pill" href="/badgeview/14" role="button">Realistic Experience Requirements</a>
            {% endif %}
  
            {% if job.flexible_hours %}
            <a class="btn btn-success badge rounded-pill" href="/badgeview/15" role="button">Flexible Hours</a>
            {% endif %}