{% extends "base.html" %} {% block content %}

<div class="p-5 bg-light section-bg">
  <div class="container-fluid py-5">
    <div class="container py-5 ">
      <h1 class="display-5 fw-bold text-white bg-dark col-lg-4 p-3">Equality Works!</h1>
      
      <a class="btn btn-light btn-lg my-3" href="{{ url_for('jobposts') }}" role="button">View Jobs</a>
    </div>
  </div>
</div>

<div class="container px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img
        src="../static/assets/images/img-03.jpeg"
        class="d-block mx-lg-auto img-fluid"
        alt="Bootstrap Themes"
        width="700"
        height="500"
        loading="lazy"
      />
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3">What We Do</h1>
      <p class="lead">
        Equality Works main goal is to provide women as well as other minorities a place where they can easily find jobs which would suit their current needs during various stages of life. While doing our research we have found that one of key issues related to gender gap in IT is retention.

        Many women study hard, get degrees and training to find a job they are not happy in and decide to quit. Our portal provides them with a space where they can find a job that suits their needs, whether it be childcare during after work meetings, inclusive interview panels or mentoring programs they can find the right job here.
      </p>
    </div>
  </div>
</div>

<div class="container px-4 py-5" id="icon-grid">
  <h2 class="pb-2 border-bottom text-center">Important Concerns</h2>

  <div
    class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">



    <div class="col d-flex align-items-start">
      <div>
        <h4 class="fw-bold mb-0">
          <a
            class="btn btn-outline-dark btn-childcare rounded-pill"
            href="/badgeview/12"
            role="button"
            >Childcare</a
          >
        </h4>
        <p>After-work childcare available.</p>
      </div>
    </div>
  
    <div class="col d-flex align-items-start">
      <div>
        <h4 class="fw-bold mb-0">
          <a
            class="btn btn-outline-dark btn-lgbtqia rounded-pill"
            href="/badgeview/1"
            role="button"
            >LGBTQIA+</a
          >
        </h4>
        <p>Friendly to LGBTQIA+.</p>
      </div>
    </div>
  
    <div class="col d-flex align-items-start">
      <div>
        <h4 class="fw-bold mb-0">
          <a
            class="btn btn-outline-dark btn-gender-balance rounded-pill"
            href="/badgeview/2"
            role="button"
            >Gender Balance</a
          >
        </h4>
        <p>Close to equal male to female ratio.</p>
      </div>
    </div>
  
    <div class="col d-flex align-items-start">
      <div>
        <h4 class="fw-bold mb-0">
          <a
            class="btn btn-outline-dark btn-insurance rounded-pill"
            href="/badgeview/3"
            role="button"
            >Family Health Insurance</a
          >
        </h4>
        <p>Cares about health of your family.</p>
      </div>
    </div>
  
    <div class="col d-flex align-items-start">
      <div>
        <h4 class="fw-bold mb-0">
          <a
            class="btn btn-outline-dark btn-diverse-panel rounded-pill"
            href="/badgeview/7"
            role="button"
            >Diverse Interviews</a
          >
        </h4>
        <p>Inclusive interviews.</p>
      </div>
    </div>
  
    <div class="col d-flex align-items-start">
      <div>
        <h4 class="fw-bold mb-0">
          <a
            class="btn btn-outline-dark btn-mentor rounded-pill"
            href="/badgeview/4"
            role="button"
            >Mentor System</a
          >
        </h4>
        <p>Mentoring available.</p>
      </div>
    </div>
  
    <div class="col d-flex align-items-start">
      <div>
        <h4 class="fw-bold mb-0">
          <a
            class="btn btn-outline-dark btn-parttime rounded-pill"
            href="/badgeview/10"
            role="button"
            >Part-time</a
          >
        </h4>
        <p>Part time positions available</p>
      </div>
    </div>
  
    <div class="col d-flex align-items-start">
      <div>
        <h4 class="fw-bold mb-0">
          <a
            class="btn btn-outline-dark btn-z btn-four-day rounded-pill"
            href="/badgeview/11"
            role="button"
            >4 day work week</a
          >
        </h4>
        <p>4 day work week company wide</p>
      </div>
    </div>
  
    <div class="col d-flex align-items-start">
      <div>
        <h4 class="fw-bold mb-0">
          <a
            class="btn btn-outline-dark btn-job-share rounded-pill"
            href="/badgeview/16"
            role="button"
            >Job share</a
          >
        </h4>
        <p>Company is open to job sharing.</p>
      </div>
    </div>
  
  
    <div class="col d-flex align-items-start">
      <div>
        <h4 class="fw-bold mb-0">
          <a
            class="btn btn-outline-dark btn-zero-tolerance rounded-pill"
            href="/badgeview/5"
            role="button"
            >No harrassment</a
          >
        </h4>
        <p>Zero-tolerance harrassment policy.</p>
      </div>
    </div>
  
    <div class="col d-flex align-items-start">
      <div>
        <h4 class="fw-bold mb-0">
          <a
            class="btn btn-outline-dark btn-no-pay-gap rounded-pill"
            href="/badgeview/6"
            role="button"
            >No pay gap</a
          >
        </h4>
        <p>Equal pay.</p>
      </div>
    </div>
  
    <div class="col d-flex align-items-start">
      <div>
        <h4 class="fw-bold mb-0">
          <a
            class="btn btn-outline-dark btn-bootcamp rounded-pill"
            href="/badgeview/8"
            role="button"
            >Bootcamp friendly</a
          >
        </h4>
        <p>Values people not degrees.</p>
      </div>
    </div>
  
    <div class="col d-flex align-items-start">
      <div>
        <h4 class="fw-bold mb-0">
          <a
            class="btn btn-outline-dark btn-career-gap rounded-pill"
            href="/badgeview/9"
            role="button"
            >Open to Career Gaps</a
          >
        </h4>
        <p>Gap in CV wont be a problem.</p>
      </div>
    </div>
  
    <div class="col d-flex align-items-start">
      <div>
        <h4 class="fw-bold mb-0">
          <a
            class="btn btn-outline-dark btn-flexible rounded-pill"
            href="/badgeview/15"
            role="button"
            >Flexible</a
          >
        </h4>
        <p>Flexible schedule</p>
      </div>
    </div>
  
    <div class="col d-flex align-items-start">
      <div>
        <h4 class="fw-bold mb-0">
          <a
            class="btn btn-outline-dark btn-realistic-experience rounded-pill"
            href="/badgeview/14"
            role="button"
            >Realistic requirements</a
          >
        </h4>
        <p>No '5 years of experience' in 2 year old framework requirements.</p>
      </div>
    </div>
  
    <div class="col d-flex align-items-start">
      <div>
        <h4 class="fw-bold mb-0">
          <a
            class="btn btn-outline-dark btn-remote rounded-pill"
            href="/badgeview/13"
            role="button"
            >Remote</a
          >
        </h4>
        <p>Remote friendly.</p>
      </div>
    </div>
  
  </div>
</div>






<div class="container my-5 slide-in-two">
  <div
    class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg"
  >
    <div class="p-3 p-lg-5 pt-lg-3 text-center">
      <h1 class="display-5 lh-1">Salary Calculator</h1>
      <p class="lead">
        Find out here how much you could make in a tech job! Calculator goes
        here.
      </p>
      <form>
        <select
          class="form-select form-select-lg mb-3"
          aria-label=".form-select-lg example"
          id="select-before"
        >
          <!-- Added by script -->
        </select>

        <select
          class="form-select form-select-lg mb-3"
          aria-label=".form-select-lg example"
          id="select-after"
        >
          <!-- Added by script -->
        </select>
      </form>
      <p class="m-3"></p>
      <div class="">
        <!-- call the calculate function -->
        <button
          type="button"
          class="btn btn-primary btn-lg px-4 me-md-2 fw-bold"
          onclick="calculate()"
        >
          Calculate
        </button>
        <p class="m-3"></p>
        <div id="result">
          <!-- Added result by script -->
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-12 section-container-spacer">
      <h2 class="text-center">Our Mission</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-4">
      <div class="fa-container">
        <i class="fa fa-heart-o fa-3x" aria-hidden="true"></i>
      </div>
      <h3 class="text-center">We Care</h3>
      <p>
        At Equality Works, we care about you! We make the job search process as
        easy as it can be! And it all aim to suit your needs.
      </p>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="fa-container">
        <i class="fa fa-bell-o fa-3x" aria-hidden="true"></i>
      </div>
      <h3 class="text-center">We Listen</h3>
      <p>
        At Equality Works, we listen to you! Whatever concerns you have about
        job searching, we will try to find a way to facilitate!
      </p>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="fa-container">
        <i class="fa fa-comment-o fa-3x" aria-hidden="true"></i>
      </div>
      <h3 class="text-center">We guide</h3>
      <p>
        At Equality Works, we provide guidance, we share industry insight, we
        deliver mentorship!
      </p>
    </div>
  </div>
</div>

{% endblock %} {% block stylesheet %}
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='css/style2.css') }}"
/>
{% endblock stylesheet %}
