{% extends "base.html" %} {% block content %}
<div
  class="background-image-container white-text-container"
  style="background-image: url('static/assets/images/img-05.jpg')"
>
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="">
        <h1>The Factory</h1>
        <p class="">THE BEST PLACE FOR WORK TOGETHER</p>
        <a href="" class="btn btn-primary btn-lg" title="">Get in touch</a>
      </div>
    </div>
  </div>
</div>
<div class="section-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-12 section-container-spacer">
        <h2 class="text-center">Vivamus laoreet</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <div class="fa-container">
          <i class="fa fa-comment-o fa-3x" aria-hidden="true"></i>
        </div>
        <h3 class="text-center">Consectetur</h3>
        <p>
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
          dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident.
        </p>
      </div>

      <div class="col-xs-12 col-md-4">
        <div class="fa-container">
          <i class="fa fa-heart-o fa-3x" aria-hidden="true"></i>
        </div>
        <h3 class="text-center">Malesuada</h3>
        <p>
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
          nisi ut aliquip ex ea commodo consequat.
        </p>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="fa-container">
          <i class="fa fa-bell-o fa-3x" aria-hidden="true"></i>
        </div>
        <h3 class="text-center">Phasellus</h3>
        <p>
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
          nisi ut aliquip ex ea commodo consequat.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="section-container section-half-background-image-container">
  <div
    class="image-column"
    style="background-image: url('static/assets/images/img-01.jpg')"
  ></div>
  <div class="container">
    <div class="row">
      <div class="section-label reveal">
        <p>Coworking</p>
      </div>
      <div class="col-md-6 col-md-offset-6 text-column">
        <h2>Dui augue orci</h2>
        <h3>Lorem ipsum</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sit amet
          consectetur dolor. Phasellus ut lacus tellus. In pretium lobortis
          blandit. Nam eu laoreet velit. Vivamus laoreet, sem nec scelerisque
          elementum, dui augue aliquet urna, ut bibendum purus erat ut massa.
          Mauris diam orci, feugiat a turpis et, congue accumsan risus. Nulla
          malesuada leo sodales, auctor augue quis, condimentum lacus. Phasellus
          sed sollicitudin quam, a bibendum urna.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sit amet
          consectetur dolor. Phasellus « ut lacus » tellus. In pretium lobortis
          blandit.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sit amet
          consectetur dolor. Phasellus ut lacus tellus. In pretium lobortis
          blandit.
        </p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
