{% extends "base.html" %}


{% block content %}
<form action="/login" method="POST">
    <div class="container">
        <!-- Taken from w3schools mention in readme or change but keep amount of feilds and feilds IDs the same-->
     
      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Enter Email" name="email" id="email" required>
  
      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" id="psw" required>
        
      <button type="submit" class="registerbtn">Log In</button>
    </div>
  
</form>
{% endblock %}

  
