<header class="p-3 text-bg-dark">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a class="navbar-brand" href="{{ url_for('index') }}"><img width = '110px' src="../static/images/whiteLogo.svg"></a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="#" class="nav-link px-2 text-white">Home</a></li>
          <li><a href="{{ url_for('jobposts') }}" class="nav-link px-2 text-white">Jobs</a></li>
          <li><a href="{{ url_for('addjob') }}" class="nav-link px-2 text-white">Post Job</a></li>
          <li><a href="#" class="nav-link px-2 text-white">Resources</a></li>
         
        </ul>

        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
          <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Search jobs..." aria-label="Search">
        </form>

        <div class="text-end">
            <a href="{{ url_for('login') }}" class="btn btn-outline-light me-2" role="button">Login</a>
            <a href="{{ url_for('register') }}" class="btn btn-warning" role="button" >Sign Up</a>
         
        </div>
      </div>
    </div>
  </header>