{% extends "base.html" %}

{% block content %}
  
<form action="/profile" method="POST" id="profile_form">
    <h1>Change Profile Details</h1>
    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input type="text" class="form-control" name="name" id="name" value="{{user.name}}">
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="email" class="form-control" name="email" id="email"  value="{{user.email}}">
    </div>
    <div class="row">
        <div class="col">
            <label for="psw" class="form-label">New Password</label>
            <input type="password" class="form-control" id="psw" name="psw">
        </div>
        <div class="col">
            <label for="psw-repeat" class="form-label">Repeat New Password</label>
            <input type="password" class="form-control" id="psw-repeat" name="psw-repeat">
        </div>
    </div>
    <br/>
    <button type="submit" class="btn btn-warning">Change</button>
    
  </form>
  <button id="profile_delete" type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">DELETE ACCOUNT</button>
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">WARING</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              If you click DELETE your account will be permanently deleted including all your job postings! 
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <form action="/deleteuser" method="POST">
              <button type="submit" class="btn btn-danger">DELETE</button>
            </form>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
