{% extends "base.html" %} {% block content %}
<div class="container px-4 py-5">
  <h2 class="text-center">Tech Roles Explained</h2>
  <p class="text-center card-text">
    Hover over the cards to see job descriptions
  </p>
  <div class="container text-center">
    <div class="row .row-cols-1 .row-cols-md-3 py-5 g-5">
      <div class="col gy-5 mb-5">
        <div class="container flip-card py-5">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <div class="card">
                <img
                  src="../static/assets/images/manager.jpg"
                  class="card-img-top"
                  alt="hacker"
                />
                <div class="card-body">
                  <p class="card-text">Product Manager</p>
                </div>
              </div>
            </div>
            <div class="flip-card-back">
              <h5>Product Manager</h5>
              <p>
                An product manager works with product leadership and company
                leadership to set product objectives aligned with high-level
                strategy. Prioritize the most strategically valuable feature
                ideas. Meet with sales, marketing, legal, and leadership to
                evaluate the viability of feature ideas.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col gy-5 mb-5">
        <div class="container flip-card py-5">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <div class="card">
                <img
                  src="../static/assets/images/andriod.jpg"
                  class="card-img-top"
                  alt="hacker"
                />
                <div class="card-body">
                  <p class="card-text">Andriod Developer</p>
                </div>
              </div>
            </div>
            <div class="flip-card-back">
              <h5>Andriod Developer</h5>
              <p>
                An Android developer is a software developer that specializes in
                creating applications for Android-based devices. Android, of
                course, is a mobile operating system (OS) developed by Google.
                It is based on a modified version of the Linux OS and other
                open-source software.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col gy-5 mb-5">
        <div class="container flip-card py-5">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <div class="card">
                <img
                  src="../static/assets/images/bs-analyst.jpg"
                  class="card-img-top"
                  alt="hacker"
                />
                <div class="card-body">
                  <p class="card-text">Business Systems Analyst</p>
                </div>
              </div>
            </div>
            <div class="flip-card-back">
              <h5>Business Systems Analyst</h5>
              <p>
                A business systems analyst is one who deals with computer
                technologies that an organization needs to operate smoothly.The
                role is responsible for identifying the necessary technological
                upgrades that the company needs to improve workplace efficiency
                and ultimately achieve its business goals.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row .row-cols-1 .row-cols-md-3 py-5 g-5">
      <div class="col gy-5 mb-5">
        <div class="container flip-card py-5">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <div class="card">
                <img
                  src="../static/assets/images/security.jpg"
                  class="card-img-top"
                  alt="hacker"
                />
                <div class="card-body">
                  <p class="card-text">Chief Security Officer</p>
                </div>
              </div>
            </div>
            <div class="flip-card-back">
              <h5>Chief Security Officer</h5>
              <p>
                A chief security officer (CSO) is a department leader
                responsible for making sure that his or her organization is safe
                from all kinds of digital threats. The CSO directs the
                organization’s infosec team in educating employees about
                cybersecurity.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col gy-5 mb-5">
        <div class="container flip-card py-5">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <div class="card">
                <img
                  src="../static/assets/images/hacker.jpg"
                  class="card-img-top"
                  alt="hacker"
                />
                <div class="card-body">
                  <p class="card-text">Ethical Hacker</p>
                </div>
              </div>
            </div>
            <div class="flip-card-back">
              <h5>Ethical Hacker</h5>
              <p>
                An ethical hacker, also known as a 'white hat hacker', is
                employed to legally break into computers and networks to test an
                organization's overall security. Ethical hackers possess all the
                skills of a cyber criminal but use their knowledge to improve
                organizations rather than exploit and damage them.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col gy-5 mb-5">
        <div class="container flip-card py-5">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <div class="card">
                <img
                  src="../static/assets/images/hardware.jpg"
                  class="card-img-top"
                  alt="hacker"
                />
                <div class="card-body">
                  <p class="card-text">Hardware Engineer</p>
                </div>
              </div>
            </div>
            <div class="flip-card-back">
              <h5>Hardware Engineer</h5>
              <p>
                A computer hardware engineer is responsible for developing and
                designing electronic products, such as circuit boards,
                processing units, computer chips, modems, keyboards, printers,
                memory and storage devices, data switches, and other mechanical
                and electrical components of systems.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row .row-cols-1 .row-cols-md-3 py-5 g-5 gy-5 mb-5">
      <div class="col gy-5 mb-5">
        <div class="container flip-card py-5">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <div class="card">
                <img
                  src="../static/assets/images/database.jpg"
                  class="card-img-top"
                  alt="hacker"
                />
                <div class="card-body">
                  <p class="card-text">Database Administrator</p>
                </div>
              </div>
            </div>
            <div class="flip-card-back">
              <h5>Database Administrator</h5>
              <p>
                A database administrator is a person who is responsible for
                keeping a company's databases healthy and secure. This role
                requires maintaining a suitable database environment by
                regularly running tests and undertaking maintenance operations.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col gy-5 mb-5">
        <div class="container flip-card py-5">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <div class="card">
                <img
                  src="../static/assets/images/vp.jpg"
                  class="card-img-top"
                  alt="hacker"
                />
                <div class="card-body">
                  <p class="card-text">VP of Product</p>
                </div>
              </div>
            </div>
            <div class="flip-card-back">
              <h5>VP of Product</h5>
              <p>
                The Vice President (VP) of Product assumes a supporting role to
                the Chief Technology Officer (CTO), they are both team leaders.
                The VP of Product may be responsible for leading a team toward
                achieving strategic initiatives, mainly creating a product
                roadmap.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col gy-5 mb-5">
        <div class="container flip-card py-5">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <div class="card">
                <img
                  src="../static/assets/images/gis.jpg"
                  class="card-img-top"
                  alt="hacker"
                />
                <div class="card-body">
                  <p class="card-text">GIS Analyst</p>
                </div>
              </div>
            </div>
            <div class="flip-card-back">
              <h5>GIS Analyst</h5>
              <p>
                A geographic information system (GIS) analyst is often regarded
                as a mapmaker who employs technology, such as mapping software,
                to create digital maps. His or her work involves the application
                of spatial and geographical information to develop a database,
                too.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-12 section-container-spacer">
        <h2 class="text-center">Mentorship</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-4 mb-5">
        <div class="text-center mb-4">
          <img
            src="../static/assets/images/joanna.jpg"
            alt=""
            class="text-center profile-border"
          />
        </div>

        <h3 class="text-center">Joanna Skoczen</h3>
        <p>
          Currently working as a Software Developer and completing a course by
          Code Institute which teaches about front end and back end development
          for e-commerce platforms. Passionate about art and anything on a
          canvas, be it digital or material.
        </p>
      </div>
      <div class="col-xs-12 col-md-4 mb-5">
        <div class="text-center mb-4">
          <img
            src="../static/assets/images/neil.jpg"
            alt=""
            class="text-center profile-border"
          />
        </div>
        <h3 class="text-center">Neil Boland</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sit amet
          consectetur dolor. Phasellus ut lacus tellus. In pretium lobortis
          blandit.
        </p>
      </div>
      <div class="col-xs-12 col-md-4 mb-5">
        <div class="text-center mb-4">
          <img
            src="../static/assets/images/melinda.jpeg"
            alt=""
            class="text-center profile-border"
          />
        </div>
        <h3 class="text-center">Melinda Zhang</h3>
        <p>
          A Junior Developer who loves creative ideas, ambitious challenges and
          energizing conversations. Changing career from beauty industry was
          challenging but it was the best decision she ever made! Love music,
          tennis, a good book and a nice cup of tea!
        </p>
      </div>
      <div class="col-xs-12 col-md-6 mb-5">
        <img src="./assets/images/img-04.jpg" alt="" class="img-responsive" />
        <h3 class="text-center">Rachel O'Donnell</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sit amet
          consectetur dolor. Phasellus ut lacus tellus. In pretium lobortis
          blandit.
        </p>
      </div>
      <div class="col-xs-12 col-md-6 mb-5">
        <div class="text-center mb-4">
          <img
            src="../static/assets/images/matheus.png"
            alt=""
            class="text-center profile-border"
          />
        </div>
        <h3 class="text-center">Matheus Cafalchio</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sit amet
          consectetur dolor. Phasellus ut lacus tellus. In pretium lobortis
          blandit.
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %} {% block stylesheet %}
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='css/style2.css') }}"
/>
{% endblock stylesheet %}
