{% extends "base.html" %} {% block content %}
<div class="container px-4 py-5">
  <h2 class="pb-2 border-bottom text-center">Tech Roles Explained</h2>
  <div class="container text-center">
    <div class="row py-5">
      <div class="col">
        <div class="container flip-card py-5">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <div class="card">
                <img
                  src="../static/assets/images/Hacker.jpg"
                  class="card-img-top"
                  alt="hacker"
                />
                <div class="card-body">
                  <p class="card-text">
                    Some quick example text to build on the card title and make
                    up the bulk of the card's content.
                  </p>
                </div>
              </div>
            </div>
            <div class="flip-card-back" style="width: 280px; height: 280px">
              <h1>John Doe</h1>
              <p>Architect & Engineer</p>
              <p>We love that guy</p>
              <p>He's the best!!!!!</p>
              <p>He's the best!!!!!</p>
              <p>He's the best!!!!!</p>
              <p>He's the best!!!!!</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="container flip-card py-5">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <div class="card">
                <img
                  src="../static/assets/images/Hacker.jpg"
                  class="card-img-top"
                  alt="hacker"
                />
                <div class="card-body">
                  <p class="card-text">
                    Some quick example text to build on the card title and make
                    up the bulk of the card's content.
                  </p>
                </div>
              </div>
            </div>
            <div class="flip-card-back" style="width: 280px; height: 280px">
              <h1>John Doe</h1>
              <p>Architect & Engineer</p>
              <p>We love that guy</p>
              <p>He's the best!!!!!</p>
              <p>He's the best!!!!!</p>
              <p>He's the best!!!!!</p>
              <p>He's the best!!!!!</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="container flip-card py-5">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <div class="card">
                <img
                  src="../static/assets/images/Hacker.jpg"
                  class="card-img-top"
                  alt="hacker"
                />
                <div class="card-body">
                  <p class="card-text">
                    Some quick example text to build on the card title and make
                    up the bulk of the card's content.
                  </p>
                </div>
              </div>
            </div>
            <div class="flip-card-back" style="width: 280px; height: 280px">
              <h1>John Doe</h1>
              <p>Architect & Engineer</p>
              <p>We love that guy</p>
              <p>He's the best!!!!!</p>
              <p>He's the best!!!!!</p>
              <p>He's the best!!!!!</p>
              <p>He's the best!!!!!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row py-5">
      <div class="col">
        <div class="container flip-card py-5">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <div class="card">
                <img
                  src="../static/assets/images/Hacker.jpg"
                  class="card-img-top"
                  alt="hacker"
                />
                <div class="card-body">
                  <p class="card-text">
                    Some quick example text to build on the card title and make
                    up the bulk of the card's content.
                  </p>
                </div>
              </div>
            </div>
            <div class="flip-card-back" style="width: 280px; height: 280px">
              <h1>John Doe</h1>
              <p>Architect & Engineer</p>
              <p>We love that guy</p>
              <p>He's the best!!!!!</p>
              <p>He's the best!!!!!</p>
              <p>He's the best!!!!!</p>
              <p>He's the best!!!!!</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="container flip-card py-5">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <div class="card">
                <img
                  src="../static/assets/images/Hacker.jpg"
                  class="card-img-top"
                  alt="hacker"
                />
                <div class="card-body">
                  <p class="card-text">
                    Some quick example text to build on the card title and make
                    up the bulk of the card's content.
                  </p>
                </div>
              </div>
            </div>
            <div class="flip-card-back" style="width: 280px; height: 280px">
              <h1>John Doe</h1>
              <p>Architect & Engineer</p>
              <p>We love that guy</p>
              <p>He's the best!!!!!</p>
              <p>He's the best!!!!!</p>
              <p>He's the best!!!!!</p>
              <p>He's the best!!!!!</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="container flip-card py-5">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <div class="card">
                <img
                  src="../static/assets/images/Hacker.jpg"
                  class="card-img-top"
                  alt="hacker"
                />
                <div class="card-body">
                  <p class="card-text">
                    Some quick example text to build on the card title and make
                    up the bulk of the card's content.
                  </p>
                </div>
              </div>
            </div>
            <div class="flip-card-back" style="width: 280px; height: 280px">
              <h1>John Doe</h1>
              <p>Architect & Engineer</p>
              <p>We love that guy</p>
              <p>He's the best!!!!!</p>
              <p>He's the best!!!!!</p>
              <p>He's the best!!!!!</p>
              <p>He's the best!!!!!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row py-5 mb-5">
      <div class="col">
        <div class="container flip-card py-5">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <div class="card">
                <img
                  src="../static/assets/images/Hacker.jpg"
                  class="card-img-top"
                  alt="hacker"
                />
                <div class="card-body">
                  <p class="card-text">
                    Some quick example text to build on the card title and make
                    up the bulk of the card's content.
                  </p>
                </div>
              </div>
            </div>
            <div class="flip-card-back" style="width: 280px; height: 280px">
              <h1>John Doe</h1>
              <p>Architect & Engineer</p>
              <p>We love that guy</p>
              <p>He's the best!!!!!</p>
              <p>He's the best!!!!!</p>
              <p>He's the best!!!!!</p>
              <p>He's the best!!!!!</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="container flip-card py-5">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <div class="card">
                <img
                  src="../static/assets/images/Hacker.jpg"
                  class="card-img-top"
                  alt="hacker"
                />
                <div class="card-body">
                  <p class="card-text">
                    Some quick example text to build on the card title and make
                    up the bulk of the card's content.
                  </p>
                </div>
              </div>
            </div>
            <div class="flip-card-back" style="width: 280px; height: 280px">
              <h1>John Doe</h1>
              <p>Architect & Engineer</p>
              <p>We love that guy</p>
              <p>He's the best!!!!!</p>
              <p>He's the best!!!!!</p>
              <p>He's the best!!!!!</p>
              <p>He's the best!!!!!</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="container flip-card py-5">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <div class="card">
                <img
                  src="../static/assets/images/Hacker.jpg"
                  class="card-img-top"
                  alt="hacker"
                />
                <div class="card-body">
                  <p class="card-text">
                    Some quick example text to build on the card title and make
                    up the bulk of the card's content.
                  </p>
                </div>
              </div>
            </div>
            <div class="flip-card-back" style="width: 280px; height: 280px">
              <h1>John Doe</h1>
              <p>Architect & Engineer</p>
              <p>We love that guy</p>
              <p>He's the best!!!!!</p>
              <p>He's the best!!!!!</p>
              <p>He's the best!!!!!</p>
              <p>He's the best!!!!!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %} {% block stylesheet %}
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='css/style2.css') }}"
/>
{% endblock stylesheet %}
